[data-auto-scroll] {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}

.v-modal {
    --uno: op-80;
}

.body {
    min-height: calc(100vh - 80px - 96px);

    &[v-cloak] {
        display: none;
    }
}
